
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .login-container {
            width: 300px;
            background-color: #637A9F;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            color: #F5CCA0;
            font-family: 'Times New Roman', Times, serif;
            margin: 20px;
        }

        .homepage-content {
            background:url('/images/backgr1.jpg') center/cover fixed;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .heading-pg {
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            color: #ffffff;
            margin: 20px;
            text-align: center;
        }

        .heading-pg p{
            font-size: 25px;
        }
        
        input {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        button {
            background-color: #FFF3CF;
            color: #000000;
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .about-us-button {
            background-color: #637A9F;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-top: 10px;
        }