body {
    background-color: #E8C872;
}
.schedule-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.schedule-btn {
  padding: 40px 80px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:#C9D7DD;
  width: 50%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.schedule-details {
  display: none;
  margin-top: 10px;
  background-color: #FFF3CF;
  width: 50%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.progress-bar {
  width: 100%;
  background-color: #f0f0f0;
  
}
.progress-bar-inner {
  background-color: #637A9F;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: white;
}