body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: flex-start;
    margin: 20px;
    background-color: #c9d7dd; 
}
#content {
    flex: 1;
    margin-right: 20px;
    background-color: #fff3cf;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #01070a; 
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #fff; 
    border: 1px solid #c9d7dd; 
    border-radius: 5px;
    color: #333; 
}

button {
    background-color: #637a9f; 
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#examList, #schedule {
    list-style-type: none;
    padding: 0;
    margin-top: 20px; 
}

#examList li, #schedule li {
    margin-bottom: 10px;
}

#calendar {
    margin-top: 20px;
    max-width: 400px; 
    width: 100%;
    background-color: #fff; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#schedule table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#schedule th, #schedule td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #fff; 
}

#error-message {
    color: red;
    margin-top: 10px;
}